<div class="login-page px-4 py-5">
  <div class="d-flex justify-content-center py-3">
    <%= image_tag 'pathroll_logo.png', style: 'width: 190px;' %>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="d-flex justify-content-between">
        <div class="me-2">
        <%= f.input :first_name,
                    placeholder: "First name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "First Name" },
                    label: false,
                    wrapper_html: { class: 'rounded-input' } %>
        </div>
        <div class="ml-2">
        <%= f.input :last_name,
                    placeholder: "Last name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Last Name" },
                    label: false,
                    wrapper_html: { class: 'rounded-input' } %>
        </div>
      </div>
      <%= f.input :email,
                  placeholder: "Email",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: false,
                  wrapper_html: { class: 'rounded-input' } %>
      <%= f.input :password,
                  placeholder: "Password (min 6 characters)",
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  wrapper_html: { class: 'rounded-input' } %>
      <%= f.input :password_confirmation,
                  placeholder: "Confirm your password",
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: false,
                  wrapper_html: { class: 'rounded-input' } %>
      <%= f.input :photo,
                  as: :file,
                  required: true,
                  label: 'Upload Profile Picture',
                  input_html: { autocomplete: "off" } %>
    </div>
    <br>
    <div class="form-actions d-flex justify-content-center">
      <%= f.button :submit, "Sign up", class: "btn btn-primary text-light btn-lg text-light px-5 rounded-4" %>
    </div>
  <% end %>
  <br>
  <div class="d-flex justify-content-center">
    Already have an account?
  </div>
  <div class="form-actions d-flex justify-content-center">
    <strong><%= link_to "Log in!", new_session_path(resource_name) %></strong>
  </div>
</div>
