<div class="mt-4 mb-5 pb-5 mx-5">
<div class="mb-3"><%= link_to incidents_path, class: "back-link" do %>
  <i class="fa-solid fa-chevron-left"></i>
<% end %></div>
<h2>Comments</h2>
<p><%= @comments.count %> comments</p>


  <% @comments.each do |comment| %>
    <div class="mt-2 p-2">
        <div class="d-flex justify-content-between">
          <% if comment.user.photo.key.nil? %>
            <img src="https://via.placeholder.com/150"
              alt="<%= comment.user.first_name %> profile"
              style="width: 50px; height: 50px; border-radius: 50%;">
          <% else %>
            <%= cl_image_tag comment.user.photo.key, style: "width: 50px; height: 50px; border-radius: 50%;" %>
          <% end %>

      <span><small><%= time_ago_in_words(comment.created_at) %> ago</small></span>
      </div>
        <div class="ms-2 ps-5">
          <div class="d-flex flex-column w-70">
          <strong><%= comment.user.first_name %></strong>
          <p><%= comment.content %></p>
          </div>
          <% if comment.img_url.present? %>
            <img src="<%= comment.img_url %>" alt="Comment image" style="max-width: 200px; height: auto;">
            <%#= cl_image_tag comment.user.photo.key style: "max-width: 200px; height: auto;" %>
          <% end %>
        </div>
    </div>
  <% end %>

  <%# Form %>
  <div class="mt-3">
    <%= form_with(model: [@incident, Comment.new], local: true) do |form| %>
      <%= form.text_area :content, placeholder: "Your comment here...",
      required: true, style: "border-radius: 8px; border: none; width: 100%; height: 100px;" %><br>

      <small><%= form.label :img_url, "Upload a photo:"%></small>
      <small><%= form.file_field :img_url %></small><br>
      <div class="d-flex justify-content-end mt-4">
        <%= form.submit "Submit",
        style: "border-radius: 8px; border: none; padding: 10px 50px; background-color: #FF7900; color: #fff;" %>
      <% end %>
    </div>
  </div>
</div>
