<div class='offcanvas offcanvas-bottom' tabindex='-1' id='offcanvasBottom-<%= incident.id %>' aria-labelledby='offcanvasBottomLabel'>
  <div class='offcanvas-header'>
  </div>
  <div class='offcanvas-body small mx-3'>
    <div class='d-flex justify-content-between'>
      <!-- People Affected -->
      <p class='m-0'>
        <em><%= incident.affecting_pins.count %> <%= 'person'.pluralize(incident.affecting_pins.count) %> affected</em>
      </p>
      <!-- Share Button with Options -->
      <div class='share-options'>
        <div class='share-button' id='shareButton'>
          <i class='fa-solid fa-share-nodes' style='color: #7b7f83;'></i>
        </div>
        <div class='options-container' id='optionsContainer'>
          <!-- WhatsApp Share Button -->
          <%= link_to 'https://api.whatsapp.com/send?text=#{incident_url(incident)}', target: '_blank', title: 'Share on WhatsApp' do %>
            <i class='fab fa-whatsapp'></i>
          <% end %>
          <!-- Copy Link Button -->
          <button id='copyLinkButton' title='Copy Link'>
            <i class='far fa-copy'></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Title of the incident (category) -->
    <div class='d-flex flex-column m-0'>
      <h2><%= incident.category %></h2>
      <!-- Location -->
      <div>
        <i class='fa-solid fa-location-dot mb-3' style='color: #7b7f83;'></i> <%= incident.location %>
      </div>
      <!-- IT AFFECTS ME BTN-->
      <div class='d-flex justify-content-between'>
        <%= simple_form_for incident, :url => toggle_pin_path(incident), :method => :patch do |f| %>
          <% if incident.has_pins_by_user?(current_user) %>
            <button type='submit' id='toggleButton' class='btn btn-light rounded-4 px-4 py-3 mb-3' style='color: #FF7900'>
              <i class='fa-solid fa-triangle-exclamation' style='color: #FF7900;'></i>
              It doesn't
            </button>
          <% else %>
            <button type='submit' id='toggleButton' class='btn btn-primary text-white rounded-4 px-4 py-3 mb-3'>
              <i class='fa-solid fa-triangle-exclamation' style='color: #ffffff;'></i>
              It affects me
            </button>
          <% end %>
        <% end %>
        <%= link_to incident_comments_path(incident_id: incident.id) do %>
          <button type='button' class='btn btn-light rounded-4 px-4 py-3'>
            <%= incident.comments.count %> <%= 'comment'.pluralize(incident.comments_count) %>
          </button>
        <% end %>
      </div>
    </div>
    <!-- Is it still there? -->
    <p class='mt-0'>Is it still there?
      <button class='option-button btn btn-light rounded-4 py-0' onclick='toggleColor(this)'><small>Yes</small></button>
      <button class='option-button btn btn-light rounded-4 py-0' onclick='toggleColor(this)'><small>No</small></button>
    </p>
    <script>
      function toggleColor(clickedButton) {
        const buttons = document.querySelectorAll('.option-button');

        buttons.forEach(button => {
          if (button === clickedButton) {
            // Toggle color for the clicked button
            button.style.color = button.style.color === 'orange' ? 'black' : 'orange';
            button.style.backgroundColor = button.style.backgroundColor === '#FFE9D6' ? 'black' : '#FFE9D6';
            button.style.border = button.style.border === '1px solid #ddd' ? 'none' : '1px solid #ddd';
          } else {
            // Reset color for the other buttons
            button.style.color = 'black';
            button.style.backgroundColor = 'white';
            button.style.border = '1px solid #ddd';
          }
        });
      }
    </script>
    <p><%= incident.description %></p>
    <% incident.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %> <!-- Adjust size as needed -->
<% end %>
  </div>
</div>
