  <div id='biglogo' class='logo_overlay d-flex justify-content-center p-4'>
    <%= image_tag 'logo_incidents.png',
    style: 'width: 100%; -webkit-filter: drop-shadow(0 4px 8px rgba(0,0,0,0.1));' %>
  </div>


  <div id='map' style='width: 100%; height: 100vh;'
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div data-controller="open-incidents">
    <% @incidents.each do |incident| %>
      <%= render "incident", incident: incident %>
    <% end %>
  </div>

  <div class="incidents-count" style='margin-top: 620px'>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button"
              class="close btn bg-transparent btn-outline-primary"
              style='border-color: transparent; padding-left: 0;'
              aria-label="Close"
              onclick="closeIncidentsCount()">
        <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
      </button>
      <p class='my-0 mx-2'>Today there are <strong><%= @today_incidents.length %> new incidents</strong><br>around you.</p>
    </div>
  </div>


<script>
  function closeIncidentsCount() {
    document.querySelector(".incidents-count").style.display = "none";
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    // Assuming you have a way to reference your Stimulus controller here
    controller.getUserLocation();
  });
</script>
