  <div class='p-4'>
    <div class='d-flex justify-content-center'>
      <div class='d-flex flex-column mt-4'>
        <div class='d-flex justify-content-center mb-3'><%= image_tag 'real_cone.png', style:'width: 60px'%></div>
        <h2 style='color: #FF7900'>Report an Incident</h2>
      </div>
    </div>

    <div class='bg-white rounded-4 p-3 mt-4'>
      <%= form_with(model: @incident, local: true, url: incidents_path) do |form| %>
        <div class="form-group">
          <i class='fa-solid fa-location-dot' style='color: #FF7900;'></i>
          <strong><%= form.label :location, "Where?", style: 'color: #FF7900;' %></strong>
          <%= form.text_field :location, class: "form-control rounded-4 py-3 my-2",
                              placeholder: "Terminal de Cruzeiros de Lisboa - Edifício NE, Doca, R. Jardim do Tabaco 1st floor, 1100-651 Lisboa",
                              required: true %>
        </div>

        <div class="d-flex justify-content-start">
          <%= image_tag 'cone_orange.png',
              style: 'width: 15px; height: 15px',
              class: 'cono' %>
          <strong><p style='color: #FF7900;'>Which type of incident?<p></strong>
        </div>
        <div class="btn-group" data-controller="category-btn" data-action="click->category-btn#handleIncidentSelection">
          <button class="btn dropdown-toggle rounded-4 mb-2 p-2"
                  style='background-color: #F4F4F4'
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            Select a type...
          </button>
          <ul class="dropdown-menu rounded-4 p-3">
            <li class='border-bottom py-1'>Constructions</li>
            <li class='border-bottom py-1'>Accident</li>
            <li class='py-1'>Structural</li>
          </ul>
        </div><br><br>

        <%= form.hidden_field :category %>

        <div class="form-group">
          <i class="fa-solid fa-circle-info" style="color: #ff7900;"></i>
          <strong><%= form.label :description, "Tell us more",
                                  style: 'color: #FF7900;' %>
          <%= form.text_area :description,
                              class: "form-control rounded-4 my-2",
                              placeholder: "Enter your description here",
                              required: true %></strong>
        </div><br>

        <div class="form-group">
          <i class="fa-solid fa-image" style="color: #ff7900;"></i>
          <strong><%= form.label :photo, "Add photos", style: 'color: #FF7900;', class: 'mb-1' %></strong>
          <%= form.file_field :photo, class: "form-control-file" %>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <%= form.submit "Submit",
                          style: "border-radius: 8px; border: none; padding: 10px 50px; background-color: #FF7900; color: white;" %>
        </div>
      <% end %>
    </div>
  </div>
