<!-- app/views/incidents/show.html.erb -->
<div id='map' style='width: 100%; height: 250px;'
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
  <p><%= @incident.affecting_pins.count %> <%= 'person'.pluralize(@incident.affecting_pins.count) %> affected</p>
  <p><%= @incident.category %></p>
  <h1><%= @incident.location %></h1>

  <!-- need to improve line below -->
  <p>Is it still there?Y/N</p>
  <p><strong>Description:</strong> <%= @incident.description %></p>

  <%= image_tag @incident.img_url, alt: 'Incident Image' %>

  <p><%= @incident.comments_count %> <%= 'comment'.pluralize(@incident.comments_count) %></p>

  <!-- !!!!!!!!!!!!! Need to put this as a arrow button !!!!!!!!!!!!! -->
  <%= link_to 'Back to Incidents', incidents_path %>
</div>
