<div class="dashboard">
  <h1>Hi <%= current_user.first_name %></h1>
  <h2>Check how is your area today</h2>

  <h3>In Your Area</h3>
<div id='map' style='width: 100%; height: 50vh;'
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <h3>Incidents Affecting You</h3>
  <a href="<%= incidents_path %>" class="see-all">See all</a>
  <ul>
    <%# Loop through incidents affecting the user %>
 <% if @affecting_incidents.present? %>
  <ul>
    <% @affecting_incidents.take(3).each do |incident| %>
      <li><%= incident.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No incidents to display.</p>
<% end %>

  <h3>Your Reported Incidents</h3>
  <%# <a href="<%= user_incidents_path(current_user) " class="see-all">See all</a> % %>
  <ul>
    <%# Loop through incidents reported by the user %>
    <% @reported_incidents.take(3).each do |incident| %>
      <li><%= incident.description %></li>
    <% end %>
  </ul>
</div>