<div class="login-page px-4 py-5">
<div class="d-flex justify-content-center py-5">
<%# The size of the image has to be fixed %>
<%= image_tag 'pathroll_logo.png', style: 'width: 190px;' %>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
            placeholder: "Email",
            required: false,
            autofocus: true,
            input_html: { autocomplete: "email"},
            label: false,
            wrapper_html: { class: 'rounded-input' }%>
    <%= f.input :password,
            placeholder: "Password",
            required: false,
            input_html: { autocomplete: "current-password" },
            label: false,
            wrapper_html: { class: 'rounded-input' } %>
    <div class="d-flex justify-content-end">
      <small><%= link_to "Forgot your password?", new_password_path(resource_name), class: "custom-link" %></small>
    </div>
  </div>
  <br>


  <div class="form-actions d-flex justify-content-center">
  <%= f.button :submit, "Log in", class: "btn btn-primary text-light btn-lg text-light px-5 rounded-4" %>
  </div>
<% end %>
<br>
<div class="d-flex justify-content-center">
Don't have an account?
</div>
  <div class="form-actions d-flex justify-content-center">
<strong><%= link_to "Sign in!", new_registration_path(resource_name) %></strong>
</div>
</div>
</div>
